{% extends "BraindigitUserBundle::outlayout.html.twig" %}
{% block title %}{{ 'resetting.request.title'|trans({}, 'FOSUserBundle') }}{% endblock %}
{% block fos_user_content %}
    <div class="login-box">
        <div class="login-box-body">
            <p class="callout callout-danger">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
            <a href="{{ path('fos_user_security_login') }}">Go to Login</a><br>
        </div>
    </div>
{% endblock fos_user_content %}
