<!doctype html>
<html>
<head>
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('/themes/practice/frontend/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('/themes/practice/frontend/font-awesome/css/font-awesome.min.css') }}">
    {% endblock %}
    {% block javascripts %}
    <script src="{{ asset('/themes/practice/frontend/js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ asset('/themes/practice/frontend/bootstrap/js/bootstrap.min.js') }}"></script>
    {% endblock %}
</head>
<body>
{% block fos_user_content %}{% endblock %}
</body>
</html>