{% set route = app.request.attributes.get('_route') %}
<li class="header">MAIN NAVIGATION</li>
<li>
    <a href="#">
        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
    </a>
</li>
<li class="treeview{% if route in ['braindigit_user_list','braindigit_user_form'] %} active{% endif %}">
    <a href="#">
        <i class="fa fa-users"></i>
        <span>Users</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li{% if route in ['braindigit_user_list'] %} class="active"{% endif %}><a href="{{ path('braindigit_user_list') }}"><i class="fa fa-list"></i> List</a></li>
        <li{% if route in ['braindigit_user_form'] %} class="active"{% endif %}><a href="{{ path('braindigit_user_form') }}"><i class="fa fa-edit"></i> Add</a></li>
    </ul>
</li>